@import '../../styles/scss/colors';

.tab-fixed {
  width: auto !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
}

.wrapper-nav-item {
  position: relative;

  span.close {
    position: absolute !important;
    top: -2px;
    right: 8px;
    cursor: pointer;

    svg {
      width: 12px;
      height: 12px;
    }
  }
}

.nav-tabs {
  padding-right: 20px;

  .nav-item {
    margin-right: 2px;

    .nav-link {
      color: #a8a8a8;
      background-color: $gray-300;

      &:hover {
        border-color: $gray-300;
        background-color: $gray-200;
      }
    }
  }

  .nav-link-add {
    display: block;
    padding: 0.4rem 1rem;
  }
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-color: $gray-400;
  background-color: $gray-400;
}

.nav-item {
  position: relative;
}
