.card {
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 3px 10px rgba(62, 85, 120, 0.045);

  .card-header {
    margin: 5px 5px 0 5px;
    background-color: transparent;
  }
}

.card .card-body {
  padding: 1.2rem 1.2rem;
}
