.nav-tabs {
  padding-right: 20px;

  .nav-link {
    background-color: #fff;
  }

  .nav-link-add {
    display: block;
    padding: 0.4rem 1rem;
  }
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-color: $gray-400;
  background-color: $gray-400;
}

// .tab-content {
//   padding: 18px !important;
//   background-color: #fff;
//   border-left: 1px solid $gray-400;
//   border-right: 1px solid $gray-400;
//   border-bottom: 1px solid $gray-400;
// }

.nav-item {
  position: relative;

  span {
    position: absolute;
    top: 2px;
    right: 5px;
  }
}
