.nav-tabs {
  padding-right: 20px;

  .nav-link {
    background-color: #fff;
  }

  .nav-link-add {
    display: block;
    padding: 0.4rem 1rem;
  }
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-color: $gray-400;
  background-color: $gray-400;
}

.tab-content {
  padding: 0px !important;
}

.nav-item {
  position: relative;

  span {
    position: absolute;
    top: 2px;
    right: 5px;
  }
}
